<!doctype html>

<head>
    <title>Hello Azure - Python Quickstart</title>
</head>

<body>
    <h1>Hello Azure - Python Quickstart</h1>
    <p>My Python app is now running on Azure!</p>
    <p id="summary"></p>
</body>


<script>
      function initSummary() {
      const summaryFile = './summary';
    
      // Fetch the summary from the local file
      fetch(summaryFile)
        .then(response => response.text())
        .then(summary => {
          const summaryElement = document.getElementById('summary');
          const isScrolledToBottom = summaryElement.scrollHeight - summaryElement.clientHeight <= summaryElement.scrollTop + 1;
    
          // Update the summary element with the new summary
          summaryElement.innerHTML = summary;
        })
        .catch(error => console.error(`Error fetching summary: ${error}`));
    }
    
    setInterval(initSummary, 500);
    
    </script>
    


</html>